/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap');
body {
    max-height: 100%;
}
:root{
    --hue-color:250;
    /* Colores Hsl */

    --colorPrincipal: hsl(250, 58%, 61%);
    --bodyColor: #fff;
    --fuente: 'Poppins', sans-serif;
}

/* navbar */
#logo {
    color: var(--colorPrincipal);
}
nav{
    font-family: var(--fuente);

}
.navbar-toggler-icon {
    border: none;
}
#navegacion a:hover {
    color: var(--colorPrincipal);
}

/* Inicio */

/* .inicio {
    width: 100vw;
    height: 100vh;
} */

.inicio h3 {
    font-weight: 300;
}

.inicio__contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inicio__contenido button {
    background: var(--colorPrincipal);
    border-color: var(--colorPrincipal);
    color: white;
}
.inicio__contenido button:hover {
    background-color: rgba(0,0,0,1);

}
.images {
    height: auto;
    max-width: 100%;
}

/* Portafolio */
.portfolio {
    width: 100vw;
    height: 100vh;
    text-align: center;
    margin-top: 5rem;
}

/* Contacto */
.contacto {
    text-align: center;
}
